:root {
    --basic-color: #870e0b;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #000000;
    --background-color: #f4f4f4;
}

.header-top {
    background-color: var(--basic-color);
}

.center-slog {
    font-family: "Dancing Script", serif;
}

.navbar {
    background-color: #ffffff;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: var(--basic-color);
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 18px;
    padding: 10px 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: var(--basic-color);
}

.navbar-nav .nav-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: var(--basic-color);
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after {
    width: 80%;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    z-index: 2;
}

.footer {
    color: #fff;
    background-color: var(--text-color);
}

.footer-bottom {
    background-color: var(--text-color);
    border-top: 1px solid var(--basic-color);
}

.email-section {
    background-color: #7b7b7b;
    border-radius: 10px;
}


/* //whatsapp-notification */
.whatsapp-notification {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #25D366;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover Effect */
.whatsapp-notification:hover {
    background-color: #1ebe57;
    transform: scale(1.1);
}

/* Icon Styling */
.whatsapp-notification i {
    font-size: 24px;
}


/* category-images */
.categories-container {
    background-color: #c7726f26;
}

.categories .category-btn {
    padding: 0px 40px;
}

.categories-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.scroll-btn {
    background-color: var(--basic-color);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.scroll-btn:hover {
    background-color: #000000;
}

.categories-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-grow: 1;
}

.categories-wrapper::-webkit-scrollbar {
    display: none;
}

.categories {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: nowrap;
}

.category-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.category-btn img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-btn span {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.category-btn:hover img {
    transform: scale(1.1);
}

.products {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product .card {
    background-color: var(--basic-color);
    padding: 6px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 8px;
}

.product .card img {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product .card img:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.divider {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.divider:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f0;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    background: #fff;
    margin-top: -15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.divider:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid var(--basic-color);
    left: 50%;
    margin-left: -10px;
    top: 50%;
    background: var(--basic-color);
    margin-top: -10px;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.divider:hover:after {
    transform: rotate(225deg);
    border-radius: 10% 10px;
}

.pro_heading {
    background-color: var(--basic-color);
    padding: 6px;
    display: inline;
    color: #fff;
    border-radius: 20px 20px 3px 3px;
}

.featured_pro {
    position: relative;
    overflow: hidden;
    padding: 5px;
    background-color: var(--basic-color);
    border-radius: 10px;
}

.featured_pro img {
    width: 100%;
    height: 250px;
    display: block;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}

.overlay {
    background: rgba(0, 0, 0, 0.554);
    position: absolute;
    bottom: -10%;
    width: 100%;
    box-sizing: border-box;
    transition: all .5s linear;
    opacity: 0;
}

.product_desc {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.featured_pro:hover .overlay {
    opacity: 1;
    bottom: 0;
}

.banner-section {
    position: relative;
    width: 100%;
    margin-top: 10px
}

.banner-image {
    width: 100%;
    display: block;
}

.banner-overlay {
    font-family: "Dancing Script", serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.415); Dark overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    color: var(--basic-color);
}

.banner-text {
    font-size: 2.4rem;
    font-weight: bold;
}

.banner-subtext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .banner-text {
        font-size: 1.5rem;
    }

    .banner-subtext {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .banner-text {
        font-size: 1.2rem;
    }

    .banner-subtext {
        font-size: 0.8rem;
    }
}

.row-status {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.status_bg {
    background: #e8e9ec;
    padding-top: 40px;
    padding-bottom: 30px;
    overflow-x: auto;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0px 4px 14px;
    cursor: pointer;
}

.border-left {
    border-left: 1px solid #727272;
}

.status img {
    margin-right: 2rem;
}

.status-context {
    font-size: 1rem;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(78, 77, 77);
}

.status-context p {
    margin: 0;
}

.status_bg::-webkit-scrollbar {
    display: none;
}

.status_bg {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.status:hover img {}